*{
    margin: 0px;
}

body{
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-size: 17px;
    line-height: 20px;
    font-weight: 400;
    color: #3b3b3b;
}
svg{
    margin-top: 20px;
}
.wrapper{
    text-align: left;
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
}

.table{
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
}

.row{
    display: table-row;
    background: #ffcb9b;
    /* border: 5px solid red; */
}

/* .row:nth-of-type(odd){
    background: #003f5c67;
} */

.cell{
    padding: 6px 12px;
    display: table-cell;
}

#map {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    display: inline-block;
    width: 75%;
    height: 100%;
}

.inf{
    display: inline-block;
    position: fixed;
    width: 25%;
    height: 100%;
    right: 0px;
    top: 0px;
    text-align: center;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#text{
    text-align: left;
    margin-left: 20px;
}

.leaflet-popup-content-wrapper {
    font-size: 15px;
}